html {
    text-align: center;
    background-color: #9D6D49;
    font-family: 'Host Grotesk';
    color: #FEF5DC;
}

header {
    background-color: #D8B494;
}

header a:hover {
    background-color: #D8B494;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    /* background-color: #FEF6E5; */
    color: #9F7F63;
}

nav a:hover{
    background-color: #9D6D49;
    color: #FEF6E5;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #FFFBF3; */
    color: #1A1917;
    margin: 15px;
}

.team-member img {
    margin-top: 5px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.team-member p {
    padding: 5px;
}

.team-member {
    margin: 10px;
    max-width: 200px;
    background-color: #FFFBF3;
    border-radius: 10px;
}