h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: -10px;
    text-transform: capitalize;
}

h2 {
    font-weight: 300;
}

img {
    max-width: 100%;
    max-height: 300px;
    margin: 30px;
}

li {
    max-width: 800px;
    line-height: 1.5;
    margin: 0 auto 20px;
    text-align: center;
}

nav a.active {
    background-color: #9D6D49;
    color: #FEF6E5;
    font-weight: 600;
}

section {
    font-size: 24px;
}

ul {
    list-style: none;
}