html {
    background-color: #FCF4E5;;
    font-family: "Courier";
    color: #9E6B49;
}

body {
    margin: 0px;
}

nav {
	background-color: #9E6B49;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

nav a {
    margin: 0 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #FCF4E5;
    background-color: #d8b394;
    width: 100px;
}

nav a:hover{
    background-color: #FEF6E5;
    color: #9E6B49;
}

nav a.active {
    background-color: #FEF6E5;
    color: #9E6B49;
    font-weight: 600;
}

.logo img {
    width: 15%;
    margin-bottom: -40px;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    color: #9E6B49;
    margin-bottom: -10px;
}

h2 {
    font-weight: 300;
}

.container {
  display: flex;
  padding: 2rem 5%;
  vertical-align: text-top; 
}

.container .gallery {
  columns: 15rem 3;
  gap: 1.6rem;
  justify-content: center;
}

.gallery img {
  width: 100%;
  vertical-align: text-top;
  /* margin-bottom: 1rem; */
}

figure {
	position: relative;
	margin: 5% 0;
    float: inline-start;
}

figcaption {
	position: absolute;
	font-family: "Avenir";
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	font-size: 25px;
	letter-spacing: 5px;
	color: #433030;
	width: 92%;
	padding: 1rem;
	background: rgba(228, 222, 222, 0.8);
	opacity: 0;
	transition: all .5s ease-in-out;
}

figure:hover figcaption {
    opacity: 30; 
}

footer {
    color:#9E6B49;
}
