

nav a.active {
    background-color: #9D6D49;
    color: #FEF6E5;
    font-weight: 600;
}



h1 { 
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: whitesmoke;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: whitesmoke;
    padding: 2%;
}

/* EDITS  */
.grid-container{
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    font-family: "Avenir";
    /*Transparent gray background*/
    background-color: rgba(60, 60, 60, 0.18);
    margin: 4% 6% 4% 6%;
}
  
#description1 {
    grid-column-start: 1;
    padding: 10%;
}
  
#description2 {
    grid-column-start: 2;
    padding: 10%;
}
  
#description3{
    grid-column-start: 3;
    padding: 10%;
}
  
h3, h4, h5 {
    font-size: 1em;
    margin: 5%;
}
/* EDITS */

main {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}





