html {
    background-color: #9D6D49;
    font-family: 'Courier New';
    color: #FEF5DC;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: #D8B494;
}

nav a {
    margin: 0 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #9F7F63;
    background-color: #FEF6E5;
    width: 100px;
}

nav a:hover {
    background-color: #9D6D49;
    color: #FEF6E5;
}

nav a.active {
    background-color: #9D6D49;
    color: #FEF6E5;
    font-weight: 600;
}

body {
    margin: 0px;
}

#logo {
    width: 15%;
    margin-bottom: 0%;
    margin-top: 0%;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1px;
}

header {
    background-color: #D8B494;
    font-weight: bold;
    width: 100%;
}

footer {
    position: static;
    margin: 2% 2% 2% 2%;
    font-weight: bold;
    border: none;
}